$breakpoints: (xs: 600px, sm: 900px, md: 1200px);

$color-primary: #AF5F58;
$color-secondary: #F6EFEF;
$color-black: #404040;
$color-white: #FFFFFF;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;